html {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #240430;
  color: white;
  padding: 0px;
  margin: 0px;
}
#bar {
  background-color: #5A0A78;
}
#content {
  background-color: #010754;
}
#navigation {
  background-color: #5A0A78
}
