@font-face {
  font-family: Leelawadee;
  src: url(LeelawUI.ttf);
}
body {
  font-family: Leelawadee;
  color: white;
  background-color: #03010D;
  text-align: center;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
  font-weight: lighter;
}
h3 {
  font-size: 24px;
  font-weight: lighter;
}
#intro {
  position: absolute;
  width: 100%;
  top: 50%;
  line-height: 30px;
  transform: translateY(-50%)
}
